<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Travels Here</title>
  </head>
  <body>
    {% if messages %}
    <ul class = "messages">
      {% for message in messages %}
      <li{% if message.tags %} class = "{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h3><a href="/travels">Home</a></h3>
    <h3><a href="/logout">logout</a></h3>

    <h2>Add a Trip</h2><br>
    <div class="trip_box">
      <form action="/process_plan" method="post">
        {% csrf_token %}

      Destination: <input type="text" name="destination"><br>
      Description: <input type="text" name="description"><br>
      Travel Date From: <input type="date" name="travel_from"><br>
      Travel Date To: <input type="date" name="travel_to"><br>
      <input type="submit" value="Add">
      </form>
    </div>

  </body>
</html>
